doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Create New Custom Object Record
        form(action="/update-cobj" method="post")
          h2.objectname Object Name
          label(for="name") Name:
          input(type="text" name="name" id="name" required)
          h2.properties Object Properties
          label(for="associatedEnergy") Associated Energy:
          input(type="text" name="associatedEnergy" id="associatedEnergy" required)
          label(for="associatedWord") Associated Word:
          input(type="text" name="associatedWord" id="associatedWord" required)
          label(for="exampleInNature") Example in the Nature:
          textarea(name="exampleInNature" id="exampleInNature" rows="4" required)
          button(type="submit") Create Record