@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

form {
    flex-direction: column;
    display: flex;
    width: 30%;
    margin: 50px 50% 0 5%;
    gap: 10px;
}